# Bagimliliklar
node_modules/

# Java / Maven
target/
*.class

# .NET
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/

# Hardhat / TypeScript uretilenler
artifacts/
cache/
typechain-types/

# IDE
.idea/
.settings/
.project
.classpath
*.iml

# Sirlar
.env
.env.*
!.env.example
appsettings.Production.json
